<!-- Default form subscription -->
<div class="card"  >
    <div class="card-header">
        <p class="h4 mb-2 text-center">Add Product</p>
    </div>
    <div class="card-body">
        <form action="/imageAdded" class="custom-file-input" method="POST"     enctype="multipart/form-data">


            <div class="custom-file mb-4">
                <input type="file" name="file" id="customFile"  class="custom-file-input"
                       >
            </div>
            <!-- Sign in button -->
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>
<!-- Default form subscription -->