<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
    <style>
        .center {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<!-- Include header.html -->
<th:block th:include="/header"></th:block>

<h2 class="center">Book Details</h2>

<table class="center">

    <tr th:id="${book.id}" th:object="${book}">
        <td>
            <img style="width: 120px;height: 150px" src="../static/resources/images/algo.png"
                 th:src="@{/resources/images/algo.png}"/>
            </a>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
            <table>
                <tr>
                    <td th:text="${book.name}"></td>
                </tr>
                <tr>
                    <td th:text="${'by '+ book.author}"></td>
                </tr>
                <tr>
                    <td th:text="${book.price + ' USD'}"></td>
                </tr>
                <tr>
                    <td th:text="${book.pageSize + ' pages'}"></td>
                </tr>
                <tr>
                    <td th:text="${book.publishDate + ' date'}"></td>
                </tr>
                <tr>
                    <td th:text="${book.description}"></td>
                </tr>
                <form th:action="@{/book/addToCart(isbn=${book.isbn})}" method="POST" >
                    <td class="center">
                        <input type="submit" value="Add to Cart" style="color: green"/>
                    </td>
                </form>
            </table>
        </td>
    </tr>

</table>

<br><br>

<!--<h2 class="center">Review Details</h2>-->

<!--<table class="center">-->

<!--    <tr th:id="${review.id}" th:each="review : ${book.reviews}">-->

<!--&lt;!&ndash;        <td>&ndash;&gt;-->
<!--&lt;!&ndash;            <table class="center">&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${'Username: '+ review.user.userName}" style="font-weight: bold"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <td th:text="${'Rating: '+ review.rate}" style="font-weight: bold"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <td th:text="${review.comment}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            </table>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->

<!--    </tr>-->

<!--</table>-->

<!--<form th:action="@{/book/review(isbn=${book.isbn})}" th:object="${review}" method="POST" class="center">-->
<!--    <table class="center">-->
<!--        <tr>-->
<!--            <td>Rate</td>-->
<!--            <td><input type="text" th:field="*{rate}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Comment</td>-->
<!--            <td><label>-->
<!--                <textarea style="width: 300px; height: 100px" th:field="*{comment}"></textarea>-->
<!--            </label></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>&nbsp;</td>-->
<!--            <td class="center">-->
<!--                <input type="submit" value="Submit"/>-->
<!--                <input type="reset" value="Reset"/>-->
<!--            </td>-->
<!--            <td>&nbsp;</td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->

</body>
</html>