<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Book Store</title>
    <style>
        .center {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- Include header.html -->
<th:block th:include="/header"></th:block>

<h2 class="center">All Books</h2>
<br>
<table class="center">

    <tr th:id="${image.id}" th:each="image : ${images}">


        <td>
            <table>


                   <th scope="row">
                       <img alt="" th:src="*{'data:image/jpeg;base64,'+{image.image}}">
                   </th>


            </table>
        </td>
    </tr >

</table>
</body>
</html>